* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: #E6E5E1;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

footer {
    width: 100vw;
}

@media (min-width: 768px) {
    footer {
        width: 80%;
        margin: 20px auto;
        color: #383838;
    }
}